*{
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

/* 반응형 구현 도전 */

/* 3개 */
@media screen and (max-width: 768px){
    .card_section ul { 
        display: flex;
        flex-direction: coliumn;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        margin:0;
        padding:0;
        list-style-type:none;
    }
    .card_section li {
        width: 30%;
    }

}

/* 2개 */
@media screen and (max-width: 480px){
    .card_section ul { 
        display: flex;
        flex-direction: coliumn;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        margin:0;
        padding:0;
        list-style-type:none;
    }
    .card_section li {
        width: 48%;
    }

    .card_footer{
        width: 100%;
    }
}

/* 1개 */
@media screen and (max-width: 320px){
    .card_section ul { 
        display: flex;
        flex-direction: coliumn;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        margin:0;
        padding:0;
        list-style-type:none;
    }
    .card_section li {
        width: 80%;
    }
}
    


/* 헤더 임돠 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Gemunu Libre', sans-serif;
}

.log_in{
    border: #000;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.log_in:hover{
    background-color: #fff;
    color: #000;
}

/* 네브 임돠 */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.weekly{
    border: rgb(255, 255, 255) solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgb(134, 134, 134) 0px 0px 3px;
}

.tranding{
    font-size: 20px;
    color: rgb(59, 59, 59);
}

.new{
    font-size: 18px;
    color: rgb(118, 118, 118);
}

.right_icon{
    color: rgb(175, 175, 175);
}

.H_line{
    border-top: 1px solid #000;
}

.Card_list { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin:0;
    padding:0;
    list-style-type:none;
}

.Card_list_detail { 
    float: left;  
    width: calc(25% - 20px); 
    background: #fff; 
    text-align: center;
    margin: 20px 0;
    padding:0;
    list-style-type:none;
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid; 
    border-color: #000000;
    box-shadow: rgb(134, 134, 134) 0px 5px 5px;

}

.Card_list_detail:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transform: translate(0px, -20px);
}

/*사진 크기 조절*/

.card_photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.card_photo img{
    width: 230px;
    height: 150px;
    object-fit: cover;
}

/*카드 텍스트 관련*/

.card_title{
    display: flex;
    justify-self: start;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Do Hyeon', sans-serif;
}

.card_detail{
    display: flex;
    justify-self: start;
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
    margin: 10px 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.card_date{
    display: flex;
    justify-self: start;
    text-align: left;
    font-size: 8px;
    padding-left: 5px;
    margin: 10px 0;
    font-weight: bold;
    color: rgb(116, 116, 116);
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.user_name{
    display: flex;
    justify-self: start;
    text-align: left;
    font-size: 11px;
    padding-left: 5px;
    margin: 10px 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.user_name > .nope {
    font-weight: bold;
    font-size: 12px;
}

.user_name > i {
    font-size: 18px;
}

.user_icon{
    display: flex;
    justify-self: end;
    text-align: left;
    font-size: 11px;
    padding-left: 5px;
    margin: 10px 0;
}

.left_items{
    display: flex;
    padding: 10px;
    font-size: 1rem;
}

.new{
    margin-left: 20px;
}

/*셀렉트 박스*/

ul {
    list-style-type: none;
    padding-left: 0px;
}
  
.select {
    display: inline-block;
    width: 89px;
    height: 40px;
    border: 3px solid #999;
    border-radius: 10px;
    margin-left: 20px;
}
  
.select .selected {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
}
  
.select .selected .selected-value {
    max-width: 90px;
}
  
.select ul {
    width: 89px;
    height: 40px;
    border: 1px solid #999;
    display: none;
    position: absolute;
    background: #fff;
    border-top: none;
    margin: 1px 0 0 -1px;
    cursor: pointer;
    z-index: 10;
}
  
.select.active ul {
    display: initial;
}
  
.select ul li {
    padding: 8px 5px;
    border-bottom: black solid 1px;
    background: white;

}
  
.select ul li:hover {
    color: rgb(245, 167, 0);
    background: rgba(255, 255, 255, 0.35)
}

/*새 글 작성*/

.write_text{
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-family: 'Do Hyeon', sans-serif;
}

/*Write_text*/

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

html, body {
    height: 100%;
}

#wrap {
    padding: 20px;
}

.input-tag {
    width: 400px;
    border: 0;
}

.input-tag:focus {
    outline: transparent;
}

#tag-list {
    margin: 20px 0;
}

#tag-list > .tag {
    display: inline-block;
    padding: 5px 20px;
    border: 3px solid transparent;
    border-radius: 10px;
    margin: 5px;
    color: #151515;
    background-color: #ffe137;
    cursor: pointer;
}