body {
    max-width: 1024px;
    margin: 0 auto;
}

/* 헤더 임돠 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Gemunu Libre', sans-serif;
}

.log_in{
    border: #000;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 네브 임돠 */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.weekly{
    border: rgb(255, 255, 255) solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgb(134, 134, 134) 0px 0px 3px;
}

.tranding{
    font-size: 20px;
    color: rgb(59, 59, 59);
}

.new{
    font-size: 18px;
    color: rgb(118, 118, 118);
}

.right_icon{
    color: rgb(175, 175, 175);
}

.H_line{
    border-top: 1px solid #000;
}

ul { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin:0;
    padding:0;
    list-style-type:none;
}

li { 
    float: left;  
    width: calc(25% - 20px); 
    background: #fff; 
    text-align: center;
    margin: 20px 0;
    padding:0;
    list-style-type:none;
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid; 
    border-color: #000000;
}

/*사진 크기 조절*/

.card_photo{
    width: 230px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.card_photo img{
    width: 230px;
    height: 150px;
    object-fit: cover;
}

/*카드 텍스트 관련*/

.card_title{
    display: flex;
    justify-self: start;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Do Hyeon', sans-serif;
}

.card_detail{
    display: flex;
    justify-self: start;
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
    margin: 10px 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.card_date{
    display: flex;
    justify-self: start;
    text-align: left;
    font-size: 8px;
    padding-left: 5px;
    margin: 10px 0;
    font-weight: bold;
    color: rgb(116, 116, 116);
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.user_name{
    display: flex;
    justify-self: start;
    text-align: left;
    font-size: 11px;
    padding-left: 5px;
    margin: 10px 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.user_name > .nope {
    font-weight: bold;
    font-size: 12px;
}

.user_name > i {
    font-size: 18px;
}

.user_icon{
    display: flex;
    justify-self: end;
    text-align: left;
    font-size: 11px;
    padding-left: 5px;
    margin: 10px 0;
}

/* .like{
    display: flex;
    justify-self: end;
    text-align: right;
    font-size: 11px;
    padding-left: 5px;
    margin: 10px 0;
} */